* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
}

h3 {
  color: rgb(255, 255, 255);
  font-family: Asgard Trial;
  font-size: 4.8rem;
  font-weight: 500;
  line-height: 64px;
  letter-spacing: 0px;
}

h4 {
  color: rgb(255, 255, 255);
  font-family: Asgard Trial;
  font-size: 2.8rem;
  font-weight: 500;
  line-height: 33px;
  letter-spacing: 0px;
  text-align: left;
}

p {
  color: rgb(209, 209, 214);
  font-family: Manrope;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: left;
}

.p_colored {
  color: rgb(10, 204, 218);
  font-family: Manrope;
  font-size: 24px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: left;
}

.training-format {
  background-color: #1a1a1a;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  max-height: 599px;
}

.mobile {
  display: none;
}
.content-text {
  color: rgb(209, 209, 214);
  font-family: Manrope;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: left;
}

.section__header {
  padding: 80px 0 80px 64px;
}

.training-format_dotted-line {
  width: 100%;
  height: 4px;
  background-image: url("./assets/dottedLine.png");
  background-repeat: no-repeat;
  position: absolute;
}

.training-format__content {
  display: flex;
  align-items: center;
  position: relative;
}

.training-format_upper-box {
  display: flex;
  height: 194px;
}

.vertical-line1 {
  position: absolute;
  width: 4px;
  height: 97px;
  background-image: url("./assets/line1.png");
  background-repeat: no-repeat;
  left: 5.8%;
}

.vertical-line3 {
  position: absolute;
  width: 4px;
  height: 97px;
  background-image: url("./assets/line1.png");
  background-repeat: no-repeat;
  left: 36.8%;
}

.vertical-line5 {
  position: absolute;
  width: 4px;
  height: 97px;
  background-image: url("./assets/line1.png");
  background-repeat: no-repeat;
  left: 75%;
}

.vertical-line2 {
  position: absolute;
  width: 4px;
  height: 90px;
  background-image: url("./assets/line1.png");
  background-repeat: no-repeat;
  left: 20.8%;
}

.vertical-line4 {
  position: absolute;
  width: 4px;
  height: 90px;
  background-image: url("./assets/line1.png");
  background-repeat: no-repeat;
  left: 59.5%;
}

.content-number {
  box-sizing: border-box;
  border-radius: 6px;
  background: rgb(255, 255, 255);
  width: 40px;
  height: 40px;
  padding: 7px 12px;
  display: flex;
  gap: 30px;
}

.first-column__content-number {
  box-sizing: border-box;
  border: 2px solid rgb(10, 204, 218);
  border-radius: 6px;
  box-shadow: 2px 2px 0px 0px rgb(41, 210, 223);
  background: rgb(255, 255, 255);
}

.training-format__grid_upper {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
}

.training-format__grid_bottom {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  padding-bottom: 80px;
}

.first-point {
  margin-left: 64px;
}

.second-point {
  margin-left: 280px;
}

.forth-point {
  margin-left: 7.5em;
}

.third-point {
  margin-left: 30px;
}

.fifth-point {
  margin-left: 100px;
}

.text-box {
  height: 90px;
  min-width: 276px;
  display: flex;
  text-align: justify;
  align-items: center;
}

.text-box_second {
  height: 40px;
  min-width: 220px;
  display: flex;
  text-align: justify;
  align-items: center;
}

.text-box_forth {
  height: 60px;
}

@media screen and (max-width: 1400px) {
  .vertical-line1 {
    left: 5.8%;
  }

  .vertical-line3 {
    left: 36.8%;
  }

  .vertical-line5 {
    left: 75.4%;
  }

  .vertical-line2 {
    left: 21.3%;
  }

  .vertical-line4 {
    left: 60%;
  }
}

@media screen and (max-width: 1380px) {
  .vertical-line1 {
    left: 5.9%;
  }

  .vertical-line2 {
    left: 21.7%;
  }
}

@media screen and (max-width: 1340px) {
  .vertical-line1 {
    left: 6%;
  }

  .vertical-line3 {
    left: 37%;
  }

  .vertical-line5 {
    left: 75.7%;
  }

  .vertical-line2 {
    left: 22.4%;
  }

  .vertical-line4 {
    left: 60.5%;
  }
}

@media screen and (max-width: 1300px) {
  .vertical-line1 {
    left: 6.5%;
  }

  .vertical-line3 {
    left: 37.1%;
  }

  .vertical-line5 {
    left: 75.9%;
  }

  .vertical-line2 {
    left: 22.9%;
  }

  .vertical-line4 {
    left: 60.5%;
  }
}

@media screen and (max-width: 1290px) {
  .wrapper {
    max-width: 1290px;
    margin: 0 auto;
  }

  .vertical-line1 {
    left: 6.4%;
  }

  .vertical-line3 {
    left: 37%;
  }

  .vertical-line5 {
    left: 75.9%;
  }

  .vertical-line2 {
    left: 23.3%;
  }

  .vertical-line4 {
    left: 60.6%;
  }
}

@media screen and (max-width: 1260px) {
  .vertical-line3 {
    left: 75.9%;
  }

  .vertical-line2 {
    left: 24.3%;
  }

  .vertical-line4 {
    left: 60.9%;
  }
}

@media screen and (max-width: 1240px) {
  .vertical-line1 {
    left: 6.6%;
  }

  .vertical-line3 {
    left: 37.2%;
  }

  .vertical-line5 {
    left: 76.4%;
  }

  .vertical-line2 {
    left: 24.5%;
  }

  .vertical-line4 {
    left: 61%;
  }
}

@media screen and (max-width: 1220px) {
  .vertical-line1 {
    left: 6.8%;
  }

  .vertical-line3 {
    left: 37.3%;
  }

  .vertical-line5 {
    left: 76.5%;
  }

  .vertical-line2 {
    left: 25%;
  }

  .vertical-line4 {
    left: 61.5%;
  }
}

@media screen and (max-width: 1190px) {
  .vertical-line1 {
    left: 6.8%;
  }

  .vertical-line3 {
    left: 37.3%;
  }

  .vertical-line5 {
    left: 76.8%;
  }

  .vertical-line2 {
    left: 25.6%;
  }

  .vertical-line4 {
    left: 61.6%;
  }
}

@media screen and (max-width: 1170px) {
  .vertical-line2 {
    left: 26%;
  }

  .vertical-line4 {
    left: 61.6%;
  }
}

@media screen and (max-width: 1140px) {
  .text-box {
    min-width: 246px;
  }

  .vertical-line1 {
    left: 7%;
  }

  .vertical-line3 {
    left: 37.6%;
  }

  .vertical-line5 {
    left: 77%;
  }

  .vertical-line2 {
    left: 26.3%;
  }

  .vertical-line4 {
    left: 62%;
  }

  p {
    font-size: 16px;
  }

  .text-box_second {
    min-width: 180px;
  }
}

@media screen and (max-width: 1120px) {

  .vertical-line1 {
    left: 7.4%;
  }

  .vertical-line3 {
    left: 37.8%;
  }

  .vertical-line5 {
    left: 77.3%;
  }

  .vertical-line4 {
    left: 62.4%;
  }
}

@media screen and (max-width: 1100px) {
  .vertical-line2 {
    left: 27.3%;
  }
}

@media screen and (max-width: 1060px) {
  .vertical-line1 {
    left: 7.9%;
  }

  .vertical-line3 {
    left: 37.9%;
  }

  .vertical-line5 {
    left: 77.9%;
  }

  .vertical-line2 {
    left: 28.3%;
  }

  .vertical-line4 {
    left: 63%;
  }
}

@media screen and (max-width: 1024px) {
  .vertical-line1 {
    left: 8%;
  }

  .vertical-line3 {
    left: 38.4%;
  }

  .vertical-line5 {
    left: 78.5%;
  }

  .vertical-line2 {
    left: 29.2%;
  }

  .vertical-line4 {
    left: 63.7%;
  }

  .text-box {
    min-width: 236px;
    height: 50px;
  }

  p {
    font-size: 14px;
  }

  .text-box_second_bottom {
    height: 10px;
  }

  .text-box_second {
    min-width: 120px;
    height: 50px;
  }
}

@media screen and (max-width: 991px) {
  .content-number {
    width: 30px;
    height: 30px;
    padding: 1px 10px;
  }

  .p_colored {
    font-size: 14px;
  }

  p {
    font-weight: 10px;
    line-height: 18px;
  }

  .text-box {
    min-width: 190px;
    height: 70px;
  }

  .vertical-line1 {
    left: 8%;
  }

  .vertical-line3 {
    left: 37.9%;
  }

  .vertical-line2 {
    left: 29.8%;
  }

  .text-box_second_bottom {
    height: 30px;
  }
}

@media screen and (max-width: 970px) {
  .vertical-line2 {
    left: 30.4%;
  }
}

@media screen and (max-width: 950px) {
  .vertical-line1 {
    left: 8.5%;
  }

  .vertical-line3 {
    left: 38%;
  }

  .vertical-line5 {
    left: 78.9%;
  }
  .vertical-line2 {
    left: 30.9%;
  }

  .vertical-line4 {
    left: 64%;
  }
}

@media screen and (max-width: 940px) {
  .vertical-line2 {
    left: 31.4%;
  }
}

@media screen and (max-width: 915px) {
  .vertical-line3 {
    left: 38.3%;
  }

  .vertical-line5 {
    left: 79.4%;
  }

  .vertical-line2 {
    left: 32%;
  }

  .vertical-line4 {
    left: 64.8%;
  }
}

@media screen and (max-width: 910px) {
  .vertical-line2 {
    left: 32.4%;
  }

  .vertical-line4 {
    left: 65%;
  }
}

@media screen and (max-width: 890px) {
  .vertical-line2 {
    left: 25.4%;
  }

  .vertical-line4 {
    left: 65%;
  }

  .second-point {
    margin-left: 213px;
  }
}

@media screen and (max-width: 860px) {
  .vertical-line1 {
    left: 9%;
  }

  .vertical-line3 {
    left: 38.5%;
  }

  .vertical-line5 {
    left: 80%;
  }
  .vertical-line2 {
    left: 24.5%;
  }

  .vertical-line4 {
    left: 65.6%;
  }

  .second-point {
    margin-left: 198px;
  }
}

@media screen and (max-width: 844px) {
  .vertical-line2 {
    left: 25%;
  }
}

@media screen and (max-width: 830px) {
  p {
    font-size: 10px;
  }

  .text-box {
    min-width: 140px;
    height: 65px;
  }

  .text-box_second {
    height: 30px;
  }

  .vertical-line1 {
    left: 9.5%;
  }

  .vertical-line5 {
    left: 80.5%;
  }
  .vertical-line2 {
    left: 25.5%;
  }

  .vertical-line4 {
    left: 66%;
  }
}

@media screen and (max-width: 812px) {
  .vertical-line1 {
    left: 6.8%;
  }

  .vertical-line3 {
    left: 38.8%;
  }

  .vertical-line2 {
    left: 23.2%;
  }

  .vertical-line4 {
    left: 59.2%;
  }

  .first-point {
    margin-left: 40px;
  }

  .second-point {
    margin-left: 175px;
  }

  .forth-point {
    margin-left: 60px;
  }
}

@media screen and (max-width: 800px) {
  .vertical-line1 {
    left: 7%;
  }

  .vertical-line3 {
    left: 39%;
  }

  .vertical-line5 {
    left: 81%;
  }

  .vertical-line2 {
    left: 23.5%;
  }

  .vertical-line4 {
    left: 59.6%;
  }

  .first-point {
    margin-left: 40px;
  }

  .second-point {
    margin-left: 175px;
  }

  .forth-point {
    margin-left: 60px;
  }
}

@media screen and (max-width: 770px) {
  .vertical-line5 {
    left: 75%;
  }

  .vertical-line2 {
    left: 24.5%;
  }

  .vertical-line4 {
    left: 59.6%;
  }

  .fifth-point {
    margin-left: 50px;
  }
}

@media screen and (max-width: 740px) {
  .vertical-line2 {
    left: 25.8%;
  }

  .vertical-line3 {
    left: 39.3%;
  }

  .vertical-line4 {
    left: 60%;
  }

  .vertical-line5 {
    left: 75.4%;
  }
}

@media screen and (max-width: 720px) {
  .vertical-line1 {
    left: 7.8%;
  }

  .vertical-line3 {
    left: 39.5%;
  }

  .vertical-line5 {
    left: 75.7%;
  }

  .vertical-line2 {
    left: 26%;
  }

  .vertical-line4 {
    left: 60.4%;
  }
}

@media screen and (max-width: 710px) {
  .vertical-line1 {
    left: 8%;
  }

  .vertical-line3 {
    left: 39.7%;
  }

  .vertical-line5 {
    left: 76%;
  }

  .vertical-line2 {
    left: 26.8%;
  }

  .vertical-line4 {
    left: 60.6%;
  }
}

@media screen and (max-width: 690px) {
  .vertical-line2 {
    left: 27.6%;
  }

  .vertical-line4 {
    left: 60.8%;
  }
}

@media screen and (max-width: 671px) {
  .vertical-line2 {
    left: 28.4%;
  }
}

@media screen and (max-width: 660px) {
  .desctop-and-tablet {
    display: none;
  }

  .wrapper {
    max-width: 450px;
    max-height: 820px;
  }

  .mobile {
    display: flex;
    justify-content: center;
    position: relative;
  }

  .section__header {
    padding: 20px 0 30px 64px;
  }

  .training-format_dotted-line_veritical {
    width: 4px;
    background-image: url("./assets/dottedLine_short_rotated.png");
    background-repeat: no-repeat;
    height: 700px;
  }

  .training-format__content__mobile {
    display: flex;
  }

  .training-format_right-box {
    display: flex;
  }

  .training-format_left-box {
    display: flex;
    flex-direction: row-reverse;
  }

  .horizontal-line1 {
    position: absolute;
    width: 70px;
    height: 4px;
    background-image: url("./assets/line_horizontal.png");
    background-repeat: no-repeat;
    top: 10%;
  }

  .horizontal-line3 {
    position: absolute;
    width: 70px;
    height: 4px;
    background-image: url("./assets/line_horizontal.png");
    background-repeat: no-repeat;
    top: 43.3%;
  }

  .horizontal-line5 {
    position: absolute;
    width: 70px;
    height: 4px;
    background-image: url("./assets/line_horizontal.png");
    background-repeat: no-repeat;
    top: 76%;
  }

  .horizontal-line2 {
    position: absolute;
    width: 70px;
    height: 4px;
    background-image: url("./assets/line_horizontal.png");
    background-repeat: no-repeat;
    top: 23.3%;
  }

  .horizontal-line4 {
    position: absolute;
    width: 70px;
    height: 4px;
    background-image: url("./assets/line_horizontal.png");
    background-repeat: no-repeat;
    top: 63%;
  }

  .training-format__grid_right {
    display: grid;
    grid-template-rows: repeat(2, 2fr);
    position: absolute;
    top: 21%;
    gap: 250px;
  }

  .training-format__grid_left {
    display: grid;
    grid-template-rows: repeat(3, 2fr);
    position: absolute;
    top: 8%;
    gap: 200px;
  }

  p {
    display: flex;
    text-align: right;
  }

  .text_row {
    display: flex;
    text-align: left;
  }

  .first-point {
    margin-left: 50px;
  }

  .second-point {
    margin-left: 180px;
  }

  .third-point {
    margin-left: 50px;
  }

  .forth-point {
    margin-left: 180px;
  }

  .fifth-point {
    margin-right: 250px;
  }

  .content-number {
    flex-direction: row-reverse;
  }

  .content-number_row {
    flex-direction: row;
  }
}
@media screen and (width: 568px) {
  .training-format {
    background-color: #1a1a1a;
  }
}
@media screen and (max-width: 580px) {
  .content-number {
    gap: 20px;
  }

  .text-box {
    min-width: 130px;
    height: 65px;
  }

  .text-box_second_bottom {
    height: 20px;
  }
}

@media screen and (max-width: 510px) {
  .content-number {
    width: 25px;
    height: 25px;
    padding: 1px 8px;
    gap: 18px;
  }

  .p_colored {
    font-size: 10px;
    line-height: 20px;
  }

  .horizontal-line1 {
    top: 9.9%;
    width: 55px;
  }

  .horizontal-line3 {
    top: 42%;
    width: 55px;
  }

  .horizontal-line5 {
    top: 74%;
    width: 55px;
  }

  .horizontal-line2 {
    top: 22.6%;
    width: 55px;
  }

  .horizontal-line4 {
    top: 62%;
    width: 55px;
  }

  .first-point {
    margin-left: 50px;
  }

  .second-point {
    margin-left: 155px;
  }

  .forth-point {
    margin-left: 150px;
  }

  .third-point {
    margin-left: 50px;
  }

  .fifth-point {
    margin-right: 200px;
  }
}

@media screen and (max-width: 460px) {
  .section__header {
    padding: 20px 0 30px 44px;
  }

  .horizontal-line1 {
    top: 9.9%;
    width: 35px;
  }

  .horizontal-line3 {
    top: 42%;
    width: 35px;
  }

  .horizontal-line5 {
    top: 74%;
    width: 35px;
  }

  .horizontal-line2 {
    top: 22.6%;
    width: 35px;
  }

  .horizontal-line4 {
    top: 62%;
    width: 35px;
  }

  .second-point {
    margin-left: 110px;
  }

  .fifth-point {
    margin-right: 160px;
  }

  .forth-point {
    margin-left: 110px;
  }
}

@media screen and (max-width: 430px) {
  .section__header {
    padding: 20px 0 20px 0;
    display: flex;
    justify-content: center;
    font-size: 4rem;
  }

  .text-box {
    min-width: 90px;
    height: 80px;
  }
  p {
    font-size: 8px;
  }

  .content-number {
    width: 20px;
    height: 23px;
    padding: 2px 5px;
    gap: 18px;
  }

  .p_colored {
    font-size: 10px;
    line-height: 18px;
  }

  .horizontal-line1 {
    width: 26px;
    top: 9.5%;
  }

  .horizontal-line3 {
    width: 26px;
    top: 41.5%;
  }

  .horizontal-line5 {
    width: 26px;
    top: 73.5%;
  }

  .horizontal-line2 {
    width: 26px;
    top: 22.6%;
  }

  .horizontal-line4 {
    width: 26px;
    top: 61.5%;
  }

  .first-point {
    margin-left: 55px;
  }

  .second-point {
    margin-left: 95px;
  }

  .third-point {
    margin-left: 55px;
  }

  .forth-point {
    margin-left: 95px;
  }
  .fifth-point {
    margin-right: 140px;
  }

  .text-box_second {
    height: 20px;
  }

  .text-box_forth {
    height: 60px;
  }
}

@media screen and (max-width: 414px) {
  .training-format_dotted-line_veritical {
    height: 550px;
  }

  .training-format__grid_left {
    top: 7.7%;
    gap: 152px;
  }

  .training-format__grid_right {
    gap: 190px;
  }
}

@media screen and (max-width: 350px) {
  .text-box_second {
    min-width: 90px;
  }

  .text-box_second_bottom {
    min-width: 80px;
  }

  .text-box_forth {
    min-width: 80px;
    height: 80px;
  }
}

@media screen and (max-width: 320px) {
  .training-format_dotted-line_veritical {
    height: 380px;
  }

  .section__header {
    padding: 20px 0 15px 0;
    font-size: 3.5rem;
  }

  .training-format__grid_left {
    top: 7%;
    gap: 97px;
  }

  .training-format__grid_right {
    gap: 120px;
    top: 20.5%;
  }
}
