* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
}

h3 {
  color: rgb(255, 255, 255);
  font-family: Asgard Trial;
  font-size: 4.8rem;
  font-weight: 500;
  line-height: 64px;
  letter-spacing: 0px;
}

h4 {
  color: rgb(255, 255, 255);
  font-family: Asgard Trial;
  font-size: 2.8rem;
  font-weight: 500;
  line-height: 33px;
  letter-spacing: 0px;
  text-align: left;
}

p {
  color: rgb(209, 209, 214);
  font-family: Manrope;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0px;
  text-align: left;
}

.p_colored {
  color: rgb(10, 204, 218);
  font-family: Manrope;
  font-size: 24px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: left;
}

.training-format {
  background-color: #1a1a1a;
  height: 599px;
}

.wrapper {
  min-width: 1440px;
}

.content-text {
  color: rgb(209, 209, 214);
  font-family: Manrope;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: left;
}

.section__header {
  padding: 80px 0 80px 64px;
}

.training-format_dotted-line {
  width: 100vw;
  height: 4px;
  background-image: url("./assets/dottedLine.png");
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
}

@media screen and (max-width: 1090px) {
  .training-format_dotted-line {
    background-image: url("./assets/dottedLine_tablet.png");
  }
}

.training-format__content {
  height: 30%;
  display: flex;
  align-items: center;
  position: relative;
}

.training-format_upper-box {
  /* display: grid;
  grid-template-columns: repeat(3, 2fr); */
  display: flex;

  height: 220px;
}

.training-format_bottom-box {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
}

.vertical-line {
  position: absolute;
  width: 4px;
  height: 110px;
  background-image: url("./assets/line1.png");
  background-repeat: no-repeat;
  left: 5.6%;
}

.vertical-line1 {
  position: absolute;
  width: 4px;
  height: 110px;
  background-image: url("./assets/line1.png");
  background-repeat: no-repeat;
  left: 36.6%;
}

.vertical-line2 {
  position: absolute;
  width: 4px;
  height: 110px;
  background-image: url("./assets/line1.png");
  background-repeat: no-repeat;
  left: 75%;
}

@media screen and (max-width: 1330px) {
  .vertical-line2 {
    left: 70%;
  }
}

.vertical-line4 {
  position: absolute;
  width: 4px;
  height: 110px;
  background-image: url("./assets/line1.png");
  background-repeat: no-repeat;
  left: 18%;
}

.vertical-line5 {
  position: absolute;
  width: 4px;
  height: 110px;
  background-image: url("./assets/line1.png");
  background-repeat: no-repeat;
  left: 36%;
}

.content-number {
  box-sizing: border-box;
  border-radius: 6px;
  background: rgb(255, 255, 255);
  width: 40px;
  height: 40px;
  padding: 7px 12px;
}

.first-column__content-number {
  box-sizing: border-box;
  border: 2px solid rgb(10, 204, 218);
  border-radius: 6px;
  box-shadow: 2px 2px 0px 0px rgb(41, 210, 223);
  background: rgb(255, 255, 255);
}

.grid {
   display: grid;
  grid-template-columns: repeat(3, 2fr);
}

.first {
  margin-left: 64px;
}

.second {
  margin-left: 30px;
}

.text {
  height: 50px;
    min-width: 276px;
    display: flex;
    text-align: justify;
    align-items: center;
}