* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
}

h3 {
  color: rgb(255, 255, 255);
  font-family: Asgard Trial;
  font-size: 4.8rem;
  font-weight: 500;
  line-height: 64px;
  letter-spacing: 0px;
}

h4 {
  color: rgb(255, 255, 255);
  font-family: Asgard Trial;
  font-size: 2.8rem;
  font-weight: 500;
  line-height: 33px;
  letter-spacing: 0px;
  text-align: left;
}

p {
  color: rgb(209, 209, 214);
  font-family: Manrope;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: left;
}

.p_colored {
  color: rgb(10, 204, 218);
  font-family: Manrope;
  font-size: 24px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: left;
}

.training-format {
  background-color: #1a1a1a;
}

.wrapper {
  max-width: 1440px;
   margin: 0 auto;
}

.content-text {
  color: rgb(209, 209, 214);
  font-family: Manrope;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: left;
}

.section__header {
  padding: 80px 0 80px 64px;
}

.training-format_dotted-line {
  width: 100vw;
  height: 4px;
  background-image: url("./assets/dottedLine.png");
  background-repeat: no-repeat;
  position: absolute;
}

.training-format__content {
  display: flex;
  align-items: center;
  position: relative;
}

.training-format_upper-box {
  display: flex;
  height: 194px;
}

.vertical-line {
  position: absolute;
  width: 4px;
  height: 99px;
  background-image: url("./assets/line1.png");
  background-repeat: no-repeat;
  left: 5.6%;
}

.vertical-line1 {
  position: absolute;
  width: 4px;
  height: 99px;
  background-image: url("./assets/line1.png");
  background-repeat: no-repeat;
  left: 36.6%;
}

.vertical-line2 {
  position: absolute;
  width: 4px;
  height: 99px;
  background-image: url("./assets/line1.png");
  background-repeat: no-repeat;
  left: 75%;
}

.vertical-line4 {
  position: absolute;
  width: 4px;
  height: 90px;
  background-image: url("./assets/line1.png");
  background-repeat: no-repeat;
  left: 21.2%;
}

.vertical-line5 {
  position: absolute;
  width: 4px;
  height: 90px;
  background-image: url("./assets/line1.png");
  background-repeat: no-repeat;
  left: 59.5%;
}

.content-number {
  box-sizing: border-box;
  border-radius: 6px;
  background: rgb(255, 255, 255);
  width: 40px;
  height: 40px;
  padding: 7px 12px;
  display: flex;
  gap: 30px;
}

.first-column__content-number {
  box-sizing: border-box;
  border: 2px solid rgb(10, 204, 218);
  border-radius: 6px;
  box-shadow: 2px 2px 0px 0px rgb(41, 210, 223);
  background: rgb(255, 255, 255);
}

.training-format__grid_upper {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
}

.training-format__grid_bottom {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  padding-bottom: 80px;
}

.first-point {
  margin-left: 64px;
}

.second-point {
  margin-left: 280px;
}

.forth-point {
  margin-left: 7.5em;
}

.third-point {
  margin-left: 30px;
}

.fifth-point {
  margin-left: 100px;
}

.text-box {
  height: 90px;
  min-width: 276px;
  display: flex;
  text-align: justify;
  align-items: center;
}

.text-box_second {
  height: 40px;
  min-width: 220px;
  display: flex;
  text-align: justify;
  align-items: center;
}

.text-box_forth {
  height: 60px;
}

/* @media screen and (max-width: 1090px) {
  .training-format_dotted-line {
    background-image: url("./assets/dottedLine_tablet.png");
  }
}

@media screen and (min-width: 1470px) {
  .vertical-line4 {
    left: 20.8%;
  }
}

@media screen and (min-width: 1500px) {
  .vertical-line2 {
    left: 74.7%;
  }
  .vertical-line4 {
    left: 20.4%;
  }
}

@media screen and (min-width: 1530px) {
  .vertical-line4 {
    left: 19.9%;
  }

  .vertical-line2 {
    left: 74.5%;
  }
}

@media screen and (min-width: 1560px) {
  .vertical-line4 {
    left: 19.5%;
  }

  .vertical-line5 {
    left: 59%;
  }
}

@media screen and (min-width: 1600px) {
  .vertical-line4 {
    left: 19.2%;
  }
}

@media screen and (min-width: 1630px) {
  .vertical-line {
    left: 5%;
  }

  .vertical-line4 {
    left: 18.7%;
  }

  .vertical-line5 {
    left: 58.7%;
  }
  .vertical-line2 {
    left: 74%;
  }
}

@media screen and (min-width: 1660px) {
  .vertical-line4 {
    left: 18.3%;
  }

  .vertical-line5 {
    left: 58.4%;
  }
}

@media screen and (min-width: 1700px) {
  .vertical-line1 {
    left: 36.3%;
  }

  .vertical-line4 {
    left: 18%;
  }

  .vertical-line5 {
    left: 58.3%;
  }
}

@media screen and (min-width: 1730px) {
  .vertical-line4 {
    left: 17.6%;
  }

  .vertical-line5 {
    left: 58.3%;
  }
}

@media screen and (min-width: 1760px) {
  .vertical-line2 {
    left: 73.6%;
  }

  .vertical-line4 {
    left: 17.4%;
  }

  .vertical-line5 {
    left: 57.8%;
  }
}

@media screen and (min-width: 1790px) {
  .vertical-line4 {
    left: 17%;
  }
}

@media screen and (min-width: 1830px) {
  .vertical-line {
    left: 4.5%;
  }

  .vertical-line1 {
    left: 36%;
  }

  .vertical-line2 {
    left: 73.4%;
  }
  .vertical-line4 {
    left: 16.7%;
  }
}

@media screen and (min-width: 1860px) {
  .vertical-line2 {
    left: 73.1%;
  }

  .vertical-line4 {
    left: 16.4%;
  }

  .vertical-line5 {
    left: 57.5%;
  }
}

@media screen and (min-width: 1990px) {
  .vertical-line4 {
    left: 15.4%;
  }

  .vertical-line5 {
    left: 57%;
  }
}

@media screen and (max-width: 1320px) {
  .training-format {
    background-color: orange;
  }

  .wrapper {
    min-width: 1024px;
  }

  .vertical-line {
    left: 6.3%;
  }

  .vertical-line1 {
    left: 37%;
  }

  .vertical-line2 {
    left: 75.7%;
  }

  .vertical-line4 {
    left: 23.2%;
  }

  .vertical-line5 {
    left: 60.4%;
  }
} */

@media screen and (max-width: 1290px) {
  .training-format {
    background-color: brown;
  }

  .wrapper {
    max-width: 1290px;
     margin: 0 auto;
  }

  .vertical-line2 {
    left: 75.9%;
  }

  .vertical-line4 {
    left: 23.7%;
  }

  .vertical-line5 {
    left: 60.6%;
  }
}

@media screen and (max-width: 1260px) {
  .training-format {
    background-color: brown;
  }

  .vertical-line2 {
    left: 75.9%;
  }

  .vertical-line4 {
    left: 24.3%;
  }

  .vertical-line5 {
    left: 60.9%;
  }
}

@media screen and (max-width: 1240px) {
  .training-format {
    background-color: brown;
  }

  .vertical-line {
    left: 6.6%;
  }

  .vertical-line1 {
    left: 37.2%;
  }

  .vertical-line2 {
    left: 76.4%;
  }

  .vertical-line4 {
    left: 24.5%;
  }

  .vertical-line5 {
    left: 61%;
  }
}

@media screen and (max-width: 1220px) {
  .training-format {
    background-color: brown;
  }

  .vertical-line {
    left: 6.8%;
  }

  .vertical-line1 {
    left: 37.3%;
  }

  .vertical-line2 {
    left: 76.5%;
  }

  .vertical-line4 {
    left: 25%;
  }

  .vertical-line5 {
    left: 61.5%;
  }
}

@media screen and (max-width: 1190px) {
  .training-format {
    background-color: brown;
  }

  .vertical-line {
    left: 6.8%;
  }

  .vertical-line1 {
    left: 37.3%;
  }

  .vertical-line2 {
    left: 76.8%;
  }

  .vertical-line4 {
    left: 25.6%;
  }

  .vertical-line5 {
    left: 61.6%;
  }
}

@media screen and (max-width: 1170px) {
  .training-format {
    background-color: brown;
  }

  .vertical-line4 {
    left: 26%;
  }

  .vertical-line5 {
    left: 61.6%;
  }
}

@media screen and (max-width: 1140px) {
  .training-format {
    background-color: brown;
  }

  .text-box {
    min-width: 246px;
  }

  .vertical-line {
    left: 7%;
  }

  .vertical-line1 {
    left: 37.6%;
  }

  .vertical-line2 {
    left: 77%;
  }

  .vertical-line4 {
    left: 26.3%;
  }

  .vertical-line5 {
    left: 62%;
  }

  p {
    font-size: 16px;
  }

  .text-box_second {
    min-width: 180px;
}
}

@media screen and (max-width: 1120px) {
  .training-format {
    background-color: brown;
  }

  .vertical-line {
    left: 7.4%;
  }

  .vertical-line1 {
    left: 37.8%;
  }

  .vertical-line2 {
    left: 77.3%;
  }

  .vertical-line5 {
    left: 62.4%;
  }

}


@media screen and (max-width: 1100px) {
  .training-format {
    background-color: brown;
  }

  .vertical-line4 {
    left: 27.3%;
  }
}

@media screen and (max-width: 1060px) {
  .training-format {
    background-color: brown;
  }

  .vertical-line {
    left: 7.9%;
  }

  .vertical-line1 {
    left: 37.9%;
  }

  .vertical-line2 {
    left: 77.9%;
  }

  .vertical-line4 {
    left: 28.3%;
  }

  .vertical-line5 {
    left: 63%;
  }

}



@media screen and (max-width: 1024px) {
  .training-format {
    background-color: brown;
  }

  .vertical-line {
    left: 8%;
  }

  .vertical-line1 {
    left: 38.4%;
  }

  .vertical-line2 {
    left: 78.5%;
  }

  .vertical-line4 {
    left: 29.2%;
  }

  .vertical-line5 {
    left: 63.7%;
  }

  .text-box {
    min-width: 236px;
    height: 50px;
}

p {
  font-size: 14px;
}

.text-box_second_bottom {
  height: 10px;
}

.text-box_second {
  min-width: 120px;
  height: 50px;
}
}

@media screen and (max-width: 1020px) {
  .training-format {
    background-color: orangered;
    height: 940px;
  }

  .desctop-and-tablet {
    display: none;
  }

  .wrapper {
    min-width: 1020px;
  }

  .mobile {
    display: flex;
    justify-content: center;
  }

  .section__header {
    padding: 80px 0 80px 64px;
  }

  .training-format_dotted-line_veritical {
    width: 4px;
    height: 100vh;
    background-image: url("./assets/dottedLine_short_rotated.png");
    background-repeat: no-repeat;
  }
}
