/*
content-width: 1327px;
tablet-big-width: 1050px;
tablet-small-width: 768px;
mobile-big-width: 414px;
mobile-small-width: 320px; */

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
}

h3 {
  color: rgb(255, 255, 255);
  font-family: Asgard Trial;
  font-size: 4.8rem;
  font-weight: 500;
  line-height: 64px;
  letter-spacing: 0px;
}

h4 {
  color: rgb(255, 255, 255);
  font-family: Asgard Trial;
  font-size: 2.8rem;
  font-weight: 500;
  line-height: 33px;
  letter-spacing: 0px;
  text-align: left;
}

p {
  color: rgb(209, 209, 214);
  font-family: Manrope;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0px;
  text-align: left;
}

.our-courses {
  background-color: #1a1a1a;
}

.wrapper {
  max-width: 1327px;
  margin: auto;
}

.our-courses_wrapper {
  padding: 80px 20px;
}

.our-courses__cards-container {
  display: flex;
  gap: 23.5px;
  flex-wrap: wrap;
  justify-content: center;
}

.our-courses__content {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
}

.our-courses__card {
  /* min-width: 647px; */
  border-radius: 16px;
  border: 1px solid #868686;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 40px;
  transition: transform 0.5s ease-in-out;
}

@media (hover) {
  .our-courses__card:hover {
    border: 4px solid rgb(10, 204, 218);
    transform: rotate(5deg);
  }
}
.card_content {
  display: flex;
  flex-direction: column;
  padding: 40px 32px 40px 32px;
  width: 47.6rem;
}

.section__description {
  width: 43.4rem;
  padding-top: 16px;
  align-self: stretch;
}

.card-tags__container {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  padding-top: 24px;
}

.cards__tag {
  border-radius: 20px;
  background: rgba(101, 101, 101, 0.25);
  padding: 5px 14px 5px 14px;
}

.tag-text__colored {
  color: #0accda;
}

.cards__price__container {
  display: flex;
  width: 58.3rem;
  justify-content: space-between;
  padding-top: 18px;
}

.card__price {
  color: rgb(10, 204, 218);
  font-family: JetBrains Mono;
  font-size: 3rem;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0px;
  text-align: right;
}

.cards__tag__colored {
  background: #f14635;
  padding: 8px 20px;
  color: rgb(255, 255, 255);
  font-family: Manrope;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: left;
}

.cards-wrapper {
  width: 64.8rem;
  height: 40rem;
}

@media screen and (max-width: 1359px) {
  .our-courses__content {
    align-items: center;
  }
}

@media screen and (max-width: 768px) {
  .cards-wrapper {
    width: 80%;
    height: 100%;
  }

  .cards__price__container {
    max-width: 46.3rem;
  }

  .section__description {
    width: 80%;
  }
  .card_content {
    width: 95%;
  }
}

@media screen and (max-width: 688px) {
  .cards__price__container {
    max-width: 40.3rem;
  }

  .section__description {
    width: 80%;
  }
  .card_content {
    width: 38.5rem;
  }
}

@media screen and (max-width: 623px) {
  .cards__price__container {
    max-width: 38.3rem;
  }
}

@media screen and (max-width: 580px) {
  .cards-wrapper {
    width: 100%;
    height: 100%;
  }
  .section__description {
    width: 100%;
  }
  .cards__price__container {
    max-width: 42rem;
  }

  .card_content {
    width: 41.5rem;
  }

  .card__price {
    font-size: 2.3rem;
  }

  .cards__tag__colored {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 500px) {
  .cards__price__container {
    max-width: 39.3rem;
  }

  .section__description {
    width: 110%;
  }

  .card_content {
    width: 35rem;
  }

  .card__price {
    font-size: 2rem;
  }
}

@media screen and (max-width: 485px) {
  .cards__price__container {
    max-width: 38.3rem;
  }

  .card_content {
    width: 35.5rem;
  }
}

@media screen and (max-width: 465px) {

  .section__description {
    width: 95%;
  }
  .cards__price__container {
    max-width: 33.3rem;
  }

  .card_content {
    width: 33.5rem;
  }
}

@media screen and (max-width: 420px) {

  .section__description {
    width: 95%;
  }
  .cards__price__container {
    max-width: 30.3rem;
  }

  .card_content {
    width: 32rem;
  }
}

@media screen and (max-width: 400px) {
  .section__description {
    width: 93%;
  }

  .cards__price__container {
    max-width: 24.3rem;
  }

  .cards__price__container {
    max-width: 28.3rem;
  }

  .card_content {
    width: 31rem;
  }
}

@media screen and (max-width: 380px) {
  .cards__price__container {
    max-width: 24.3rem;
  }

  .cards__price__container {
    max-width: 27rem;
  }

  .card_content {
    width: 28rem;
  }
}

@media screen and (max-width: 360px) {
  .cards__price__container {
    max-width: 24.3rem;
  }

  .cards__price__container {
    max-width: 26rem;
  }

  .card_content {
    width: 26rem;
  }
}

@media screen and (max-width: 340px) {
  .cards__price__container {
    max-width: 24.3rem;
  }

  .cards__price__container {
    max-width: 23rem;
  }

  .card_content {
    width: 23rem;
  }
}

@media screen and (max-width: 325px) {
  .cards__price__container {
    max-width: 22.3rem;
  }

  .card_content {
    width: 21rem;
  }
}
