* {
  margin: 0;
  padding: 0;
}

.student-name {
  color: rgb(255, 255, 255);
  font-family: Asgard Trial;
  font-size: 28px;
  font-weight: 500;
  line-height: 33px;
  letter-spacing: 0px;
  text-align: left;
}

.position-title {
  color: rgb(41, 39, 39);
  font-family: Manrope;
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: left;
}

.students-review {
  color: rgb(209, 209, 214);
  font-family: Manrope;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: left;
}

.reviews {
  background-color: #1a1a1a;
}

.wrapper {
  max-width: 1318px;
  margin: 0 auto;
  padding-top: 50px;
}

.reviews__content {
  display: flex;
  flex-direction: column;
  gap: 29px;
  width: 100%;
  padding-bottom: 127px;
  overflow: hidden;
}

.slider-card {
  width: 630px;
  height: 323px;
}

.rectangle {
  border-radius: 16px;
  background: url("./assets/Rectangle_19.png");
  width: 645px;
  height: 387px;
  background-repeat: no-repeat;
}

.card-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 24px;
  box-sizing: border-box;
  border: 1px solid white;
  border-radius: 20px;
  background: rgba(26, 26, 26, 0.9);
}

.info-box {
  display: flex;
}

.info-box__img {
  padding-right: 15px;
  width: 95px;
  height: 95px;
}

.img1 {
  background: url('./assets/img1.png');
  background-repeat: no-repeat;
}

.img2 {
  background: url('./assets/img2.png');
  background-repeat: no-repeat;
}

.slider-card__content {
  gap: 24px;
  display: flex;
  flex-direction: column;
}

.info-box__name-position {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-right: 77px;
  align-items: center;
}

.student-position {
  width: 153px;
  height: 42px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background: rgb(161, 249, 255);
}

.magnum {
  background: url('./assets/company2.png');
  width: 193px;
  height: 47.27px;
  background-repeat: no-repeat;
}

.sigma {
  background: url('./assets/company1.png');
  width: 193px;
  height: 80px;
  background-repeat: no-repeat;
  transform: rotate(-3deg)
}

.slider_wrapper {
  margin: 0 auto;
}

.sliders_container {
  display: flex;
  width: 90%;
  height: 85%;
}

.slider {
  max-width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.radio {
  display: none;
}

.slider_cards {
  display: flex;
  align-items: center;
  margin: 10px auto;
  transition: all 0.9s;
  gap: 30px;
  padding: 0.4% 0.2%;
}

.nav-container {
  display: flex;
  margin-top: 30px;
}

.dots {
  width: 40%;
  display: flex;
  justify-content: center;
}

.dots label {
  display: inline-block;
  padding: 8px;
  font-size: 0;
  cursor: pointer;
}

.dots span {
  display: block;
  transition: all 0.6s ease-in-out;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 0 solid #d9d9d9;
  background-color: #d9d9d9;
}

#radio1:checked ~ .slider .nav-container .dots #one span {
  border-radius: 8px;
  background: rgb(10, 204, 218);
  width: 37.5px;
}

#radio2:checked ~ .slider .nav-container .dots #two span {
  border-radius: 8px;
  background: rgb(10, 204, 218);
  width: 37.5px;
}

#radio3:checked ~ .slider .nav-container .dots #three span {
  border-radius: 8px;
  background: rgb(10, 204, 218);
  width: 37.5px;
}

#radio4:checked ~ .slider .nav-container .dots #four span {
  border-radius: 8px;
  background: rgb(10, 204, 218);
  width: 37.5px;
}

#radio5:checked ~ .slider .nav-container .dots #five span {
  border-radius: 8px;
  background: rgb(10, 204, 218);
  width: 37.5px;
}

#radio6:checked ~ .slider .nav-container .dots #six span {
  border-radius: 8px;
  background: rgb(10, 204, 218);
  width: 37.5px;
}

#radio1:checked ~ .slider .slider_cards {
  margin-left: 0;
  transition: transform 4s ease-in-out;
}

#radio3:checked ~ .slider .slider_cards {
  margin-left: -18.8%;
}

#radio4:checked ~ .slider .slider_cards {
  margin-left: -37.5%;
}

#radio5:checked ~ .slider .slider_cards {
  margin-left: -56.2%;
}

#radio6:checked ~ .slider .slider_cards {
  margin-left: -74.8%;
}

#radio1:checked ~ .slider #slide-1 .card-wrapper {
  border: 4px solid rgb(10, 204, 218);
  transform: rotate(3deg);
}

#radio2:checked ~ .slider #slide-2 .card-wrapper {
  border: 4px solid rgb(10, 204, 218);
  transform: rotate(3deg);
}

#radio3:checked ~ .slider #slide-3 .card-wrapper {
  border: 4px solid rgb(10, 204, 218);
  transform: rotate(3deg);
}

#radio4:checked ~ .slider #slide-4 .card-wrapper {
  border: 4px solid rgb(10, 204, 218);
  transform: rotate(3deg);
}

#radio5:checked ~ .slider #slide-5 .card-wrapper {
  border: 4px solid rgb(10, 204, 218);
  transform: rotate(3deg);
}

#radio6:checked ~ .slider #slide-6 .card-wrapper {
  border: 4px solid rgb(10, 204, 218);
  transform: rotate(3deg);
}


@media screen and (max-width: 1350px) {
  .rectangle {
    border-radius: 16px;
    background: url("./assets/Rectangle_17.png");
    width: 424px;
    height: 377px;
    background-repeat: no-repeat;
  }

  .magnum {
    width: 102px;
    height: 48px;
  }

  .sigma {
    background: url('./assets/sigma_small.png');
    width: 103px;
    height: 48px;
    background-repeat: no-repeat;
    transform: rotate(-3deg)
  }


  .magnum {
    background: url('./assets/magnum_small.png');
    width: 103px;
    height: 48px;
    background-repeat: no-repeat;
  }

  .info-box__name-position {
    padding-right: 12px;
  }

  .student-name {
    font-size: 20px;
    line-height: 23.6px;
  }

  .info-box__img {
    padding-right: 15px;
    width: 65px;
    height: 65px;
  }

  .img1 {
    background: url('./assets/img1_small.png');
    background-repeat: no-repeat;
  }

  .img2 {
    background: url('./assets/img2_small.png');
    background-repeat: no-repeat;
  }

  .slider-card {
    width: 424px;
    height: 377px;
}
  .position-title {
    font-size: 11px;
    line-height: 15.03px;
  }

  .student-position {
    width: 113px;
    height: 27px;
  }

  .students-review {
    font-size: 14px;
    line-height: 25px;
   }

   .info-box {
    padding-top: 12px;
   }

   .review-box {
    padding-top: 25px;
   }

   .wrapper {
    max-width: 900px;
   }
}