* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
}

h3 {
  color: rgb(255, 255, 255);
  font-family: Asgard Trial;
  font-size: 4.8rem;
  font-weight: 500;
  line-height: 64px;
  letter-spacing: 0px;
}

.p_colored {
  font-family: Manrope;
  font-size: 24px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0px;
}

.training-format {
  background: #1a1a1a;
}

.wrapper {
  max-width: 1308px;
}

.section__header {
  padding: 80px 0 10px 64px;
}

.training-format__content {
  background-image: url("../cactus/assets/backgroundBitlab.png");
  width: 100vw;
  height: 550px;
  opacity: 1;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.training-format__grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 0 63px;
}

.column {
  position: relative;
  display: flex;
}

.first-column {
  height: 308.56px;
  flex-direction: column-reverse;
}

.training-format__img {
  background-image: url("../cactus/assets/group.png");
  width: 20vw;
  background-repeat: no-repeat;
  background-size: 151px 218px;
  position: absolute;
  height: 218px;
  top: 7%;
  left: 16%;
}

.content-box {
  display: flex;
  flex-direction: column;
  height: 30px;
  gap: 16px;
}

.content-number {
  box-sizing: border-box;
  border-radius: 6px;
  background: rgb(255, 255, 255);
  width: 40px;
  height: 40px;
  padding: 7px 12px;
}

.first-column__content-number {
  border: 2px solid rgb(157, 86, 247);
  box-shadow: 2px 2px 0px 0px rgb(157, 86, 247);
  color: rgb(157, 86, 247);
}
