* {
  margin: 0;
  padding: 0;
}

.section__header {
  color: rgb(255, 255, 255);
  font-family: Asgard Trial;
  font-size: 48px;
  font-weight: 500;
  line-height: 64px;
  letter-spacing: 0px;
}

.p_colored {
  font-family: Manrope;
  font-size: 24px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0px;
}

.training-format {
  background: #1a1a1a;
}

.wrapper {
  max-width: 1308px;
  height: 794px;
}

.section__header {
  padding: 80px 0 10px 64px;
}

.training-format__content {
  background-image: url("./assets/backgroundBitlab.png");
  width: 100vw;
  height: 550px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.training-format__grid {
  display: grid;
  grid-template-columns: repeat(5, 2fr);
  padding: 0 63px;
}

.column {
  position: relative;
  display: flex;
}

.first-column {
  height: 308.56px;
  flex-direction: column-reverse;
}

.second-column {
  height: 515px;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 0 0 25px;
}

.third-column {
  height: 250px;
  flex-direction: column;
  justify-content: flex-end;
  padding-left: 120px;
}

.forth-column {
  height: 450px;
  flex-direction: column;
  justify-content: flex-end;
  padding-left: 50px;
}

.fifth-column {
  height: 225px;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 0 0 25px;
}

.training-format__img {
  background-image: url("./assets/group.png");
  width: 20vw;
  background-repeat: no-repeat;
  background-size: 151px 218px;
  position: absolute;
  height: 218px;
  top: 7%;
  left: 16%;
}

.content-box {
  display: flex;
  flex-direction: column;
  height: 30px;
  gap: 16px;
}

.content-number {
  box-sizing: border-box;
  border-radius: 6px;
  background: rgb(255, 255, 255);
  width: 40px;
  height: 40px;
  padding: 7px 12px;
}

.first-column__content-number {
  border: 2px solid rgb(157, 86, 247);
  box-shadow: 2px 2px 0px 0px rgb(157, 86, 247);
  color: rgb(157, 86, 247);
}

.content-text {
  color: rgb(209, 209, 214);
  font-family: Manrope;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: left;
}

.second-column__content-number {
  border: 2px solid rgb(234, 76, 29);
  box-shadow: 2px 2px 0px 0px rgb(234, 76, 29);
  color: rgb(234, 76, 29);
}

@media screen and (max-width: 1045px) {
  .second-column {
    padding: 0 0 0 25px;
  }

  .third-column {
    padding-left: 80px;
  }

  .forth-column {
    padding-left: 20px;
  }

  .fifth-column {
    padding: 0 0 0 10px;
  }

  .content-text {
    font-size: 15px;
    line-height: 20px;
  }
}

@media screen and (max-width: 943px) {
  .second-column {
    padding: 0 0 0 25px;
  }

  .third-column {
    padding-left: 80px;
  }

  .forth-column {
    padding-left: 20px;
  }

  .fifth-column {
    padding: 0 0 0 10px;
  }
}

@media screen and (max-width: 850px) {
  .wrapper {
    max-width: 1308px;
    height: 1184px;
  }

  .training-format__grid {
    grid-template-columns: none;
    padding: 0 20px;
    position: relative;
  }

  .p_colored {
    font-size: 18px;
    line-height: 26px;
  }

  .training-format__content {
    background-image: url("./assets/road_mobile.png");
    height: 773px;
    width: 390px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin: 130px auto;
  }

  .section__header {
    padding: 24px 0 10px 16px;
    font-size: 28px;
    font-weight: 500;
    line-height: 34px;
  }

  .training-format__img {
    background-image: url("./assets/cactus_small.png");
    width: 180px;
    background-repeat: no-repeat;
    background-size: 122px 174px;
    position: absolute;
    height: 218px;
    top: -17%;
    left: 20%;
  }

  .first-column {
    position: static;
    height: 140.56px;
  }

  .content-number {
    width: 32px;
    height: 32px;
    padding: 2px 10px;
  }

  .content-text {
    font-size: 15px;
    line-height: 20px;
  }

  .first-box {
    width: 276px;
  }

  .second-box {
    width: 222px;
  }

  .third-box {
    width: 245px;
  }

  .forth-box {
    width: 234px;
  }

  .fifth-box {
    width: 209px;
  }

  .content-box {
    gap: 10px;
  }

  .second-column {
    height: 170px;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 0 0 25px;
    align-items: flex-end;
  }

  .third-column {
    padding-left: 0;
    height: 140px;
  }

  .forth-column {
    height: 175px;
    align-items: flex-end;
  }

  .fifth-column {
    height: 185px;
    padding: 0 0 0 50px;
  }
}

@media screen and (max-width: 390px) {
  .wrapper {
    max-width: 1308px;
    height: 1184px;
  }

  .training-format__grid {
    grid-template-columns: none;
    padding: 0 20px;
    position: relative;
  }

  .p_colored {
    font-size: 18px;
    line-height: 26px;
  }

  .training-format__content {
    background-image: url("./assets/road_mobile.png");
    height: 773px;
    width: 390px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-top: 130px;
  }

  .section__header {
    padding: 24px 0 10px 16px;
    font-size: 28px;
    font-weight: 500;
    line-height: 34px;
  }

  .training-format__img {
    background-image: url("./assets/cactus_small.png");
    width: 180px;
    background-repeat: no-repeat;
    background-size: 122px 174px;
    position: absolute;
    height: 218px;
    top: -17%;
    left: 20%;
  }

  .first-column {
    position: static;
    height: 140.56px;
  }

  .content-number {
    width: 32px;
    height: 32px;
    padding: 2px 10px;
  }

  .content-text {
    font-size: 15px;
    line-height: 20px;
  }

  .first-box {
    width: 276px;
  }

  .second-box {
    width: 222px;
  }

  .third-box {
    width: 245px;
  }

  .forth-box {
    width: 234px;
  }

  .fifth-box {
    width: 209px;
  }

  .content-box {
    gap: 10px;
  }

  .second-column {
    height: 170px;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 0 0 25px;
    align-items: flex-end;
  }

  .third-column {
    padding-left: 0;
    height: 140px;
  }

  .forth-column {
    height: 175px;
    align-items: flex-end;
  }

  .fifth-column {
    height: 185px;
    padding: 0 0 0 50px;
  }
}
